h1 {
  text-align: center;
  color: #eb1e23;
  font-family: sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #201d56;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  color: #201d56;
  font-family: sans-serif;
}

p {
  text-align: center;
  color: #131514;
}

ul {
  text-align: center;
  color: #131514;
}
