body {
  font-family: sans-serif;
  text-align: center;
}

ul {
text-align: left;
}

#black {
  background-color: #333333;
}
#white {
  background-color: white;
  color: #333333;
}

.black-background {
  background-color: black;
  color: white;
}

.white-background {
  background-color: white;
  color: #333333;
}
